/* .mainPage {
  display: flex;
}
.mainPageLeft {
  flex: 4;
}
.mainPageCenter {
  flex: 4;
}
.mainPageRight {
  flex: 4;
}

@media (max-width: 600px) {
  .mainPage {
    flex-direction: column;
  }

  .mainPageLeft,
  .mainPageCenter,
  .mainPageRight {
    width: 95%;
  }
} */
