.todoList {
  display: flex;
  width: 100%;
  height: 100%;
  padding-right: 1em;
  overflow-y: auto;
}

.todoList::-webkit-scrollbar {
  width: 3px;
}

.todoList::-webkit-scrollbar-track {
  background-color: transparent;
}

.todoList::-webkit-scrollbar-thumb {
  background-color: rgb(35, 35, 35);
  border: 0.5px solid rgb(80, 80, 80);
  border-radius: 5px;
  border-right: none;
}

.todoListWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.todoListTitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  font-size: 18px;
  margin-bottom: 5px;
  padding: 3px;
  cursor: pointer;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Noto Serif JP", serif;
}

.todoListTitle:hover {
  background-color: rgb(47, 47, 47);
}

.todoCheckBox {
  cursor: pointer;
}

.todoCheckBox .fa-circle {
  display: inline-block;
}

.todoCheckBox .fa-check {
  display: none;
}

.todoCheckBox:hover .fa-circle {
  display: none;
}

.todoCheckBox:hover .fa-check {
  display: inline-block;
  color: rgb(167, 108, 222);
}

.todoTitle {
  margin-left: 5px;
  width: 100%;
}

.todoDeleteButton {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}
